<!DOCTYPE html>
<html>

<head>
  <title>ECG Signal Classifier - invalid data</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css">
</head>

<body class="h-screen  bg-cover bg-center text-white" style="background-image: url(../static/bg1.jpg)">

  <div class="flex justify-around">
    <!-- body everything-->
    <div class="w-1/4 hidden lg:block"></div>
    <div class="w-1/4 hidden lg:block "></div>
    <div
      class="flex flex-col justify-center items-center h-screen w-11/12 md:w-3/4 lg:w-2/4  text-lg gap-y-3 md:gap-y-5">
      <!-- leti logo start -->
      <!-- <div class="w-3/4 md:w-2/4 rounded-lg">
        <img src="../static/letiSVG2.svg" class="rounded-lg" alt="letiLogo">
      </div> -->
      <!-- leti logo end -->
      <!-- titles -->
      <div>
        <h1 class=" inline-block w-full text-3xl md:text-5xl tracking-wide font-mono font-semibold text-center 	">
          ECG
          Signal
          Classifier
        </h1>
        <div class="w-full text-center">
          <span class="hidden md:inline-block w-11/12 lg:w-3/4 ">
            The ECG Classifier is an interface designed for classifying ECG signals. It was built
            using a model
            trained on six different types of arrhythmias: Bundle Branch Block, Cardiomyopathy, Dysrhythmia, Healthy
            Controls, Myocardial Infarction, and a category for signals that don't belong to any of the aforementioned
            types.
          </span>
        </div>
      </div>
      <!-- Form start -->
      <div class=" w-full  flex flex-col justify-center items-center">
        <h1 class="text-xl md:text-3xl  tracking-wide font-mono font-semibold text-red-600 text-center mb-1"> The input
          is invalid
        </h1>
        <div class="text-lg w-11/12 lg:w-3/4 flex justify-center items-center text-center">
          Dear user, please note that this software is designed to analyze ECG signals based on numerical data.
          Therefore, it
          is required to upload a CSV file containing the ECG signal, which must consist of 2000 points. If you have any
          inquiries or need further assistance, please feel free to contact the researcher.
        </div>
      </div>
      <!-- Form end -->
      <!-- home page - start -->
      <a href="./"
        class="py-1 px-2 rounded-md bg-blue-500 hover:bg-blue-600 duration-150 ease-in-out text-sm md:text-base">Home
        Page</a>
      <!-- home page - end -->
      <!-- footer -->
      <div class="footer">
        <h2 class="text-xl text-center md:text-3xl mt-5 mb-2">Contact us</h2>
        <div class="flex gap-x-4 justify-around">
          <!-- github -->
          <a href="https://github.com/Salar-Sali" target="_blank">
            <img src="../static/gh.svg" alt="github" class="w-6 h-6 md:w-9 md:h-9" />
          </a>
          <!-- linkedIn -->
          <a href="https://www.linkedin.com/in/salarsali197/" target="_blank">
            <img src="../static/linked.svg" alt="linkedIn" class="w-6 h-6 md:w-9 md:h-9" />
          </a>
        </div>
      </div>
      <!-- footer end -->
    </div>
    <!-- body everything end-->

  </div>
</body>

</html>
