<!DOCTYPE html>
<html>

<head>
  <title>ECG Signal Classifier - invalid data</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css">
</head>

<body class="h-screen flex flex-col justify-center items-center  ">
  <h1 class="text-5xl py-8 tracking-wide font-mono font-semibold"> The input is invalid</h1>
  <div class="text-lg p-5 w-1/2 flex justify-center items-center gap-x-2">
    Dear user, please note that this software is designed to analyze ECG signals based on numerical data. Therefore, it
    is required to upload a CSV file containing the ECG signal, which must consist of 2000 points. If you have any
    inquiries or need further assistance, please feel free to contact the researcher.
  </div>
</body>

</html>